<main>
  <section>
    <h1>TODO List</h1>
    <p>A place to store the things you have to do!</p>
    <form #filterForm="ngForm">
      <input
       type="text"
       placeholder="Filter your to-dos"
       name="filter"
       ngModel
       (input)="filterList($event)">
    </form>
    <ol>
      <li class="todo-item" [ngClass]="{'completed': todo.completed}" *ngFor="let todo of todoList; index as i">
        <div class="todo-item-container">
          <button class="complete-btn"
           *ngIf="!todo.completed"
           (click)="completeTask(i)">Complete</button>
          <p class="task-text">{{ todo.task }}</p>
          <button class="x-btn"
           (click)="removeTodo(i)"><i class="material-icons">clear</i></button>
        </div>
      </li>
    </ol>
    <form #todoForm="ngForm" (ngSubmit)="addTodo(todoForm)">
      <input type="text" placeholder="Add your to-do" name="todo" ngModel>
      <button class="add-btn">Add</button>
    </form>
  </section>
</main>